<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos - Guímarbot</title>
    <link rel="icon" href="resources/img/logo_guimarbot-SinFondo.webp">    
    <link rel="stylesheet" href="resources/css/curso-categorias.css" />
</head>

<body>
    <div class="container">
        <img src="resources/img/background.webp" class="background-image">

        <section class="hero">
            <div class="hero-text">
                <h1>Cursos online para trabajar en tecnología</h1>
                <p>Elige entre más de 1000 cursos online para aprender desde cero o desarrollar las habilidades más
                    demandadas del trabajo en tecnología.</p>
            </div>
            <div class="filters">
                <select>
                    <option>Cualquier edad</option>
                    <option>Niños (6-12 años)</option>
                    <option>Adolescentes (13-17 años)</option>
                    <option>Adultos (18+ años)</option>
                </select>
                <select>
                    <option>Todas las categorias</option>
                </select>
            </div>
        </section>

        <section class="separator">
            <div class="line"></div>
            <div class="text">
                <span>DESARROLLO E TECNOLOGÍA</span>
            </div>
            <div class="line"></div>
        </section>

        <section class="courses">
            <div class="course-header">
                <div class="course-name">
                    <img src="resources/img/course-icon-1.webp" class="course-icon" alt="Icono del curso">
                    <h2>Full Stack Developer con JavaScript</h2>
                </div>
                <a href="ruta.html" class="add-route">                    
                    Ver ruta
                </a>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero commodi sequi quas. Tempora obcaecati vero
                unde necessitatibus enim nulla temporibus!</p>
            <div class="course-list">
                <div class="course">
                    <span class="course-title">${curso.curso_name}</span>
                    <p class="course-description">${curso.curso_descripction}</p>
                    <img src="${curso.curso_img}" alt="Imagen del curso" class="course-icon">
                                <p>Precio: ${curso.curso_price}$</p>
                    <div class="course-actions">
                        <button class="course-pref">
                            Por Lorem, ipsum.
                        </button>
                    </div>
                </div>

                <div class="course">
                    <span class="course-title">Lorem, ipsum.</span>
                    <p class="course-description">Lorem ipsum dolor sit amet.</p>
                    <div class="course-actions">
                        <button class="course-pref">
                            Por Lorem, ipsum.
                        </button>
                    </div>
                </div>

                <div class="course">
                    <span class="course-title">Lorem, ipsum.</span>
                    <p class="course-description">Lorem ipsum dolor sit amet.</p>
                    <div class="course-actions">
                        <button class="course-pref">
                            Por Lorem, ipsum.
                        </button>
                    </div>
                </div>

                <div class="course">
                    <span class="course-title">Lorem, ipsum.</span>
                    <p class="course-description">Lorem ipsum dolor sit amet.</p>
                    <div class="course-actions">
                        <button class="course-pref">
                            Por Lorem, ipsum.
                        </button>
                    </div>
                </div>

                <div class="course">
                    <span class="course-title">Lorem, ipsum.</span>
                    <p class="course-description">Lorem ipsum dolor sit amet.</p>
                    <div class="course-actions">
                        <button class="course-pref">
                            Por Lorem, ipsum.
                        </button>
                    </div>
                </div>

                <div class="course">
                    <span class="course-title">Lorem, ipsum.</span>
                    <p class="course-description">Lorem ipsum dolor sit amet.</p>
                    <div class="course-actions">
                        <button class="course-pref">
                            Por Lorem, ipsum.
                        </button>
                    </div>
                </div>

                <div class="course">
                    <span class="course-title">Lorem, ipsum.</span>
                    <p class="course-description">Lorem ipsum dolor sit amet.</p>
                    <div class="course-actions">
                        <button class="course-pref">
                            Por Lorem, ipsum.
                        </button>
                    </div>
                </div>

                <div class="course">
                    <span class="course-title">Lorem, ipsum.</span>
                    <p class="course-description">Lorem ipsum dolor sit amet.</p>
                    <div class="course-actions">
                        <button class="course-pref">
                            Por Lorem, ipsum.
                        </button>
                    </div>
                </div>

                <div class="course">
                    <span class="course-title">Lorem, ipsum.</span>
                    <p class="course-description">Lorem ipsum dolor sit amet.</p>
                    <div class="course-actions">
                        <button class="course-pref">
                            Por Lorem, ipsum.
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="separator">
            <div class="line"></div>
            <div class="text">
                <span>LOREM IPSUM</span>
            </div>
            <div class="line"></div>
        </section>
        
    </div>
    <script src="resources/js/curso-categorias.js"></script>
    <script src="resources/js/colores.js"></script>
</body>

</html>