<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos - Guímarbot</title>
    <link rel="icon" href="resources/img/logo_guimarbot-SinFondo.webp">
    <style>
    </style>
    <link rel="stylesheet" href="resources/css/curso-buscar.css" />
    <!--Google icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <nav class="navbar">
        <div class="nav-logo-container">
            <img src="resources/img/logo_guimarbot-SinFondo.webp" alt="logo" class="logo">
            <a class="page-name" href="index.html">Guímarbot</a>
        </div>
        <div class="nav-search-container">
            <input type="text" placeholder="Buscar..." id="search-bar">
            <button class="material-symbols-outlined">
                <a class="search-icon" href="#" id="search-btn">search</a>
            </button>
        </div>
        <div class="nav-btn-container" id="nav-btn-container">
            <!-- Botones de sesión que se actualizarán dinámicamente con JavaScript -->
        </div>
    </nav>
    <div class="container">
        <img src="resources/img/search.webp" class="background-image">
        <h1>513 Resultados encontrados</h1>
        <nav>
            <ul>
                <li><a href="#" class="active">Cursos</a></li>
                <li><a href="#">Rutas</a></li>
            </ul>

            <div class="filters">
                <select>
                    <option>Cualquier edad</option>
                    <option>Niños (6-12 años)</option>
                    <option>Adolescentes (13-17 años)</option>
                    <option>Adultos (18+ años)</option>
                </select>
            </div>
        </nav>
        <section class="separator">
            <div class="line"></div>
        </section>
        <h2>Cursos</h2>
        <div class="courses">
            <div class="course-card">
                <img src="resources/img/curso1.webp" alt="Curso Definitivo de HTML y CSS">
                <div class="course-info">
                    <h2>Curso Definitivo de HTML y CSS</h2>
                    <p>Aprende HTML y CSS desde cero, sin conocimientos previos. Conoce todo sobre etiquetas HTML,
                        semántica, CSS, como dar estilos a los elementos...</p>
                    <p><strong>Edad:</strong> Adolescentes (13-17 años)</p>
                    <p><strong>Profesor:</strong> Juan Pedro</p>
                    <a href="#" class="add-route">
                        <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10" stroke="#00e676" stroke-width="1.5" />
                            <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="#00e676" stroke-width="1.5"
                                stroke-linecap="round" />
                        </svg>
                        Agregar a mi ruta
                    </a>
                </div>
            </div>
            <div class="course-card">
                <img src="resources/img/curso2.webp" alt="Curso Gratis de Programación Básica">
                <div class="course-info">
                    <h2>Curso Gratis de Programación Básica</h2>
                    <p>Programa desde cero, domina Javascript, entiende HTML y aprende de algoritmos...</p>
                    <p><strong>Edad:</strong> Toda Edad</p>
                    <p><strong>Profesor:</strong> Ingri Salazar</p>
                    <a href="#" class="add-route">
                        <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10" stroke="#00e676" stroke-width="1.5" />
                            <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="#00e676" stroke-width="1.5"
                                stroke-linecap="round" />
                        </svg>
                        Agregar a mi ruta
                    </a>
                </div>
            </div>
            <div class="course-card">
                <img src="resources/img/curso3.webp" alt="Curso Práctico de HTML y CSS">
                <div class="course-info">
                    <h2>Curso Práctico de HTML y CSS</h2>
                    <p>¡Desarrolla un clon de Google con HTML y CSS! Poniendo en práctica todo lo que sabes de
                        posicionamiento, modelo de cajas, tipos de display, etc.</p>
                    <p><strong>Edad:</strong> Adolescentes (13-17 años)</p>
                    <p><strong>Profesor:</strong> Jhon Cortez</p>
                    <a href="#" class="add-route">
                        <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10" stroke="#00e676" stroke-width="1.5" />
                            <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="#00e676" stroke-width="1.5"
                                stroke-linecap="round" />
                        </svg>
                        Agregar a mi ruta
                    </a>
                </div>
            </div>
            <div class="course-card">
                <img src="resources/img/curso3.webp" alt="Curso Práctico de HTML y CSS">
                <div class="course-info">
                    <h2>Curso Práctico de HTML y CSS</h2>
                    <p>¡Desarrolla un clon de Google con HTML y CSS! Poniendo en práctica todo lo que sabes de
                        posicionamiento, modelo de cajas, tipos de display, etc.</p>
                    <p><strong>Edad:</strong> Adolescentes (13-17 años)</p>
                    <p><strong>Profesor:</strong> Jhon Cortez</p>
                    <a href="#" class="add-route">
                        <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10" stroke="#00e676" stroke-width="1.5" />
                            <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="#00e676" stroke-width="1.5"
                                stroke-linecap="round" />
                        </svg>
                        Agregar a mi ruta
                    </a>
                </div>
            </div>
            <div class="course-card">
                <img src="resources/img/curso3.webp" alt="Curso Práctico de HTML y CSS">
                <div class="course-info">
                    <h2>Curso Práctico de HTML y CSS</h2>
                    <p>¡Desarrolla un clon de Google con HTML y CSS! Poniendo en práctica todo lo que sabes de
                        posicionamiento, modelo de cajas, tipos de display, etc.</p>
                    <p><strong>Edad:</strong> Adolescentes (13-17 años)</p>
                    <p><strong>Profesor:</strong> Jhon Cortez</p>
                    <a href="#" class="add-route">
                        <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10" stroke="#00e676" stroke-width="1.5" />
                            <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="#00e676" stroke-width="1.5"
                                stroke-linecap="round" />
                        </svg>
                        Agregar a mi ruta
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="resources/js/colores.js"></script>
    <script src="resources/js/curso-buscar.js"></script>
</body>

</html>