<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guímarbot</title>
    <link rel="icon" href="resources/img/logo_guimarbot-SinFondo.webp">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik+Dirt&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <!--Bootstrap-->    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="resources/css/suscripcion.css">
</head>
<body>

    <!-- Barra lateral -->
    <div class="sidebar">
        <div class="profile">
            <img src="resources/img/logo_guimarbot-SinFondo.webp" alt="Foto de perfil">
            <h3 id="user-full-name"></h3>
            <p id="user-username"></p>
            <p id="user-points">Aquí irían los puntos</p>
            <p id="user-plan">Aquí el plan</p>
            <a href="index.html" class="">← Volver al menú principal</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="perfilusuario.html">Ver mi perfil</a></li>
                <li><a href="referidos.html">Referidos</a></li>
                <li><a href="suscripcion.html">Suscripción</a></li>
                <li><a href="#" id="logout-btn">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
    
    <!-- Botón de menú hamburguesa -->
    <div class="menu-toggle">☰</div>
    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('.sidebar').classList.toggle('active');
        });
    </script>
    
    
    <!--Planes-->
    <section class="planes light-section">
        <div class="container text-center">
        <h2 class="section-titulo">Suscribete y potencia tu futuro profesional</h2>
        <h3 class="section-description"></h3>
            <div class="row">
                <!--Plan Basico-->
                <div class="column col-12 col-md-4">
                    <p class="planes-titulo">Plan Básico</p>
                    <i class="bi bi-person-fill icon-shop"></i>
                    <p>Plan individual donde tendras acceso a todos los cursos</p>
                    <h4>Los beneficios de este plan son:</h4>
                    <ul>
                        <li>Pago único</li>
                        <li>365 dias de duración</li>
                        <li>Acceso a todos los cursos</li>
                    </ul>
                    <a href="carrito.html">
                        <button type="button" class="btn btn-primary">
                        <i class="bi bi-cart-fill"></i> S/200
                        </button>
                    </a>
                </div>
                <!--Avanzado dup-->
                <div class="column col-12 col-md-4">
                    <p class="planes-titulo">Avanzado duo</p>
                    <i class="bi bi-people-fill icon-shop"></i>
                    <p>Plan en donde tú y un amigo podran disfrutar de todos los cursos</p>
                    <h4>Los beneficios de este plan son:</h4>
                    <ul>
                        <li>Pago único</li>
                        <li>365 dias de duración</li>
                        <li>Acceso a todos los cursos</li>
                    </ul>
                    <a href="carrito.html">
                        <button type="button" class="btn btn-primary">
                        <i class="bi bi-cart-fill"></i> S/350
                        </button>
                    </a>
                </div>
                <!-- Expert grupo-->
                <div class="column col-12 col-md-4">
                    <p class="planes-titulo">Expert grupo</p>
                    <i class="bi bi-people-fill icon-shop"></i>
                    <p>Plan en donde tú y 3 amigos podran disfrutar de todos los cursos</p>
                    <h4>Los beneficios de este plan son:</h4>
                    <ul>
                        <li>Pago único</li>
                        <li>365 dias de duración</li>
                        <li>Acceso a todos los cursos</li>
                    </ul>
                    <a href="carrito.html">
                        <button type="button" class="btn btn-primary">
                        <i class="bi bi-cart-fill"></i> S/500
                        </button>
                    </a>
                </div>                
            </div>
        </div>


<script src="resources/js/suscripcion.js"></script>
<!--Bootstrap-->     
<script src="resources/js/colores.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>