body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f9f9f9;
}

.actions-table button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-btn {
    background-color: #17a2b8;
    color: white;
}

.edit-btn {
    background-color: #ffc107;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

/*Modal*/
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
    background-color: white;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    width: 50%; 
    border-radius: 8px; 
}

/* Fondo de pantalla para cuando el modal esté activo */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Debe estar detrás del modal */
    display: none; /* Ocultar cuando no está activo */
}

/* Mostrar el modal cuando sea necesario */
.modal.active, .modal-background.active {
    display: block;
}


.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    max-width: 90%;
    text-align: left;
}

/*Inputs en el modal*/
.modal input, .modal textarea, .modal select {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.modal button {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal button:hover {
    background-color: #0056b3;
}

.close-modal {
    background-color: #6c757d;
}

#deleteResource {
    background-color: #dc3545;
}

/* Ajustes de layout para pantallas más pequeñas */
@media (max-width: 600px) {
    .modal-content {
        width: 100%;
    }
}









